:root {
  --clr-background: #f6f6f6;
  --clr-cst-primary: #2DC98C;
  --clr-cst-darkgray: #636363;
  --clr-cst-darker: #111111; 
  --edge-spacing: 1rem;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--clr-background);
}

button > img {
  height: 1rem;
}

section {
  margin-bottom: 5rem;
}

@media screen and (max-width: 767px) {
  :root {
    --edge-spacing: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  :root {
    --edge-spacing: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --edge-spacing: 5rem;
  }
}

/* CUSTOM COLORS*/
.cst-bg-darker{background-color: var(--clr-cst-darker);}
.cst-bg-primary{background-color: var(--clr-cst-primary);}
.cst-text-darkgray{color:var(--clr-cst-darkgray);}

/* CUSTOM FONT SIZES*/
.cst-fs-xsm{font-size: 0.875rem;}
.cst-headline-fs {font-size: 1.125rem;}

/* CUSTOM PADDING*/
.cst-px{
  padding-left: var(--edge-spacing);
  padding-right: var(--edge-spacing);
}

.cst-font-family{
  font-family: "Work Sans", sans-serif;
}

footer {
  padding-top: 3.5rem;
}